html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.wrapper {
  margin: 0 auto;
}

nav {
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
  color: white;
  -webkit-box-shadow: 0 3px 9px -5px rgba(0, 0, 0, 0.363);
          box-shadow: 0 3px 9px -5px rgba(0, 0, 0, 0.363);
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav h2 {
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
}

.show nav ul {
  display: block;
}

nav ul li {
  font-size: 1.5em;
}

.burger-icon {
  cursor: pointer;
  font-size: 1.6em;
}

@media (min-width: 1250px) {
  .burger-icon {
    display: none;
  }
  nav {
    background-color: transparent;
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  nav a {
    color: white;
    position: relative;
  }
  nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  nav a:hover:after {
    width: 100%;
    left: 0;
  }
}

.footer-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #2C2C2C;
  margin: 0 auto;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container h3 {
  text-align: center;
  color: white;
}

.footer-container .underbar {
  margin-top: 10px;
}

.footer-container .underbar::after {
  border-bottom-width: 0.1px;
  border-color: #00af85;
  content: "";
  width: 80%;
  position: absolute;
  border-style: solid;
  z-index: 1;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.footer-container p {
  margin-top: 50px;
}

.footer-list {
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.footer-list ul {
  text-align: left;
  list-style: none;
}

.footer-list ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  line-height: 2.2;
}

.contact-list {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 10px;
}

.contact-list h3 {
  text-align: center;
}

.contact-list ul {
  list-style: none;
}

.contact-list ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  text-align: left;
  line-height: 1.5;
}

.contact-list ul i {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
}

.social-icons {
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.social-icons img {
  padding: 10px;
}

.header-container {
  display: block;
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../about-images/e-scooter-stairs.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../about-images/e-scooter-stairs.jpg");
  height: 440px;
  background-size: cover;
  background-position: 100% -450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header-container .nav-bar {
  background-color: rgba(0, 0, 0, 0);
}

.header-container h1 {
  color: white;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header-container .header-image {
  top: 0;
  width: 100%;
  display: block;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  padding: 0;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container h3 {
  font-size: 1.6em;
  text-align: center;
  padding: 4em 0;
  margin: 0;
}

.article-01 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.article-01,
.article-text-01 {
  margin: 0 5% 0 5%;
}

.article-text-01,
.article-text-02 {
  text-align: left;
  display: block;
  margin-bottom: 5em;
}

.article-02,
.article-text-02 {
  margin: 0 5% 0 5%;
}

.article-02-bg {
  padding-top: 50px;
  padding-bottom: 8em;
  width: 100%;
  background-color: #9171c5;
}

.article-text-02 {
  position: relative;
}

.article-info-02 {
  position: absolute;
  margin-top: -7em;
}

.article-03 .profile {
  margin-top: 3em;
  margin-bottom: 5em;
}

.article-03 .profile img {
  width: 50%;
}

.article-04 {
  margin-top: 7em;
  background-color: rgba(163, 163, 163, 0.931);
  width: 100%;
  text-align: center;
  color: #444444;
  padding: 50px 20px;
}

.join-btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #00B68A;
  color: #00B68A;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 24px 24px;
  text-decoration: none;
  width: 200px;
}

.join-btn a {
  color: #00B68A;
}

.join-btn:hover {
  background-color: #00B68A;
  color: white;
}

.join-btn:active {
  position: relative;
  top: 1px;
}

.title-page {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 0.33))), url("../images/marat-mazitov-WzStSnhZbfs-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.33)), url("../images/marat-mazitov-WzStSnhZbfs-unsplash.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

.intro {
  text-align: center;
  margin: 10px;
  margin-top: 50px;
}

.ride-steps-section {
  margin: 30px 0;
}

.ride-steps-section .section-title {
  text-align: center;
  margin-bottom: 30px;
}

.ride-steps-section .section-title h2 {
  margin-bottom: 10px;
}

.ride-steps-section .section-title hr {
  width: 70px;
  border: 2px solid #00B68A;
}

.ride-steps-section .section-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ride-steps-section .section-steps .ride-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ride-steps-section .section-steps .ride-steps article {
  text-align: left;
}

.ride-steps-section .section-steps .ride-steps article:nth-child(-n + 2) {
  margin-bottom: 50px;
}

.ride-steps-section .section-steps .ride-steps .steps-text h5 {
  color: grey;
  margin-bottom: 5px;
}

.ride-steps-section .section-steps .ride-steps .steps-text h2 {
  color: #333333;
}

.ride-steps-section .section-steps .ride-steps .steps-desc h3 {
  color: #00B68A;
}

.ride-steps-section .section-steps .ride-steps .steps-desc p {
  color: #2b2b2b;
}

.ride-steps-section .section-steps .ride-steps .steps-img {
  position: relative;
  display: none;
  background-color: #00B68A;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  margin: auto;
}

.ride-steps-section .section-steps .ride-steps .steps-img img {
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ride-steps-section .section-steps .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
}

.ride-steps-section .section-steps .dots .dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
}

.ride-steps-section .section-steps .dots.mobile {
  margin: 30px;
}

.ride-steps-section .section-steps .dots.mobile .bold {
  height: 7px;
  width: 7px;
  background-color: black;
}

.ride-steps-section .section-steps .dots.mobile .dot:nth-last-child(-n+3) {
  opacity: 0;
}

.ride-steps-section .section-steps .dots.desktop {
  display: none;
}

.sign-up {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 0.33))), url("../../images/Canva - Black Scooter.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.33)), url("../../images/Canva - Black Scooter.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: relative;
  text-align: center;
}

.sign-up h2 {
  color: white;
  text-shadow: 2px 2px 8px black;
  padding-bottom: 5px;
  width: 95%;
  bottom: 65px;
  font-size: 2em;
}

.sign-up button, .sign-up h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-up button {
  bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #00B68A;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: #00ca98;
}

@media (min-width: 768px) {
  .ride-steps-section {
    margin-top: 70px;
  }
  .ride-steps-section .section-steps .steps article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0 8vw;
    max-width: 1200px;
  }
  .ride-steps-section .section-steps .steps article:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .ride-steps-section .section-steps .steps article .steps-text {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .ride-steps-section .section-steps .steps article .steps-desc {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: auto;
    width: 80%;
  }
  .ride-steps-section .section-steps .steps article .steps-img {
    display: block;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 18vw;
    height: 18vw;
  }
  .ride-steps-section .section-steps .steps .step-two .steps-desc {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .ride-steps-section .section-steps .steps .step-two .steps-img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .ride-steps-section .section-steps .dots.mobile {
    display: none;
  }
  .ride-steps-section .section-steps .dots.dots.desktop {
    display: block;
  }
  .ride-steps-section .section-steps .dots.dots.desktop .dot {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 1250px) {
  .title-page, .sign-up {
    background-attachment: fixed;
  }
  .ride-steps-section .section-steps .steps article {
    padding: 0;
  }
  .ride-steps-section .section-steps .steps article .steps-img {
    width: 13vw;
    height: 13vw;
  }
}

.page-header {
  padding-top: 140px;
  background-color: #fff;
  text-align: center;
}

.page-header h1 {
  margin-bottom: 0;
  font-family: "Bellota", sans-serif;
  font-size: 3em;
  color: #666666;
  font-weight: 400;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding-top: 20px;
}

.services-description,
.plan {
  text-align: center;
  line-height: 1.4em;
  width: 100%;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 0;
}

.plan-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #00B68A;
}

.plan-cost h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3.5em;
  font-family: "Bellota", sans-serif;
  text-shadow: 3px 3px 2px #666666;
}

.plan-cost sup {
  font-size: 0.5em;
}

.plan-details {
  margin: 10px 0 40px;
}

.plan-details h2,
.plan-details p {
  margin: 24px 0;
  padding: 0;
}

.plan-details h2 {
  color: #003729;
  font-size: 2.5em;
  font-family: "Bellota", sans-serif;
  text-transform: uppercase;
}

.plan-details p {
  line-height: 1.8em;
  color: #666666;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.2em;
}

.sign-up-btn {
  padding: 0;
  border: none;
  background-color: #fff;
  width: 70%;
}

.sign-up-btn a {
  text-decoration: none;
  color: #00B68A;
  font-family: "Bellota", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  display: block;
  border: 2px solid #00B68A;
  border-radius: 25px;
  padding: 1em 2em;
  background-color: white;
  cursor: pointer;
}

.sign-up-btn:nth-child(even) {
  background-color: #fafafa;
}

.plan:nth-child(even) {
  background-color: #fafafa;
}

.plan:nth-child(even) .sign-up-btn {
  background-color: #fafafa;
}

@media (min-width: 750px) {
  .plan {
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff !important;
  }
  .plan .sign-up-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fafafa !important;
  }
}

@media (min-width: 1400px) {
  .plan {
    width: 30%;
  }
  .page-header,
  .plans,
  .plan {
    background-color: #fafafa !important;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-bottom: 3em;
  max-width: 800px;
  margin: 0 auto;
}

.contact-form .form-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 2em;
  margin-top: 1.5em;
}

.contact-form .form-input input[type="text"],
.contact-form .form-input textarea,
.contact-form .form-input select {
  font-size: 1.4em;
  width: 100%;
  border: 1px solid #666666;
  border-radius: 10px;
  padding: 0.4em 0 0.4em 0.2em;
  font-family: "Montserrat", sans-serif;
}

.contact-form .form-input input[type="text"]:focus,
.contact-form .form-input textarea:focus,
.contact-form .form-input select:focus {
  border-color: #00B68A;
}

.contact-form .form-input label {
  font-family: "Bellota", sans-serif;
  font-size: 1.8em;
  color: #00B68A;
}

.contact-form .form-input .radio-options,
.contact-form .form-input .checkbox-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.contact-form .form-input .radio-option,
.contact-form .form-input .checkbox-option {
  margin-right: 2em;
  margin-left: 0.2em;
}

.contact-form .message {
  margin-bottom: 2em;
}

.contact-form .submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .submit input {
  width: 70%;
  background-color: #fff;
  border: 2px solid #00B68A;
  border-radius: 25px;
  color: #00B68A;
  font-family: "Bellota", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 0;
  cursor: pointer;
  text-align: center;
}

.contact-form .submit input:hover {
  background-color: #00B68A;
  color: white;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}
/*# sourceMappingURL=styles.css.map */