.header-container {
    display: block;
    position: relative;
    height: 50vh;
    top: 0;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../about-images/black-scooter-2380611.jpg');
	background-size: cover;
	background-attachment: fixed;
    

    .nav-bar {
        background-color: rgba(0, 0, 0, 0);
    }

  
    h1{
        color: rgb(255, 255, 255);
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .header-image {
        top: 0;
        width: 100%;
        display: block;
        filter: brightness(50%);
    }
}



