.title-page {
    height: 100vh;
    background-image: url('../images/marat-mazitov-WzStSnhZbfs-unsplash.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
}

.intro {
    text-align: center;
}

@media (min-width: $desktopBreakpoint){
    .title-page {
        background-attachment: fixed;
    }
}