html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999999;
  color: white;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
}

.show nav ul {
  display: block;
}

nav ul li {
  font-size: 1.5em;
}

.burger-icon {
  cursor: pointer;
}

@media (min-width: 960px) {
  .burger-icon {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.header-container {
  display: block;
  position: relative;
  height: 50vh;
  top: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../about-images/black-scooter-2380611.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../about-images/black-scooter-2380611.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header-container .nav-bar {
  background-color: rgba(0, 0, 0, 0);
}

.header-container h1 {
  color: white;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header-container .header-image {
  top: 0;
  width: 100%;
  display: block;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

main {
  background-color: #86b2eb;
}

.container {
  padding: 0;
}

.container h3 {
  font-size: 1.6em;
  text-align: center;
  padding: 4em 0;
  margin: 0;
}

article {
  margin-bottom: 2em;
  text-align: center;
  position: relative;
}

article article h4 {
  font-size: 1.2em;
  text-align: center;
}

article article img {
  margin-top: 3em;
}

.article-01,
.article-text-01 {
  margin: 0 5% 0 5%;
}

.article-text-01,
.article-text-02 {
  text-align: left;
  display: block;
  margin-bottom: 5em;
}

.article-02,
.article-text-02 {
  margin: 0 5% 0 5%;
}

.article-02-bg {
  padding-top: 50px;
  padding-bottom: 8em;
  width: 100%;
  background-color: #9171c5;
}

.article-text-02 {
  position: relative;
}

.article-info-02 {
  position: absolute;
  margin-top: -7em;
}

.article-03 .profile {
  margin-top: 3em;
  margin-bottom: 5em;
}

.article-03 .profile img {
  width: 50%;
}

.article-04 {
  margin-top: 7em;
  background-color: rgba(163, 163, 163, 0.931);
  width: 100%;
  text-align: center;
  color: #444444;
  padding: 50px 20px;
}

.footer-container {
  text-align: center;
  padding: 65px;
}

.footer-container .underbar {
  margin-top: 10px;
}

.footer-container .underbar::after {
  border-bottom-width: 0.1px;
  border-color: #00af85;
  content: "";
  width: 80%;
  position: absolute;
  border-style: solid;
  z-index: 1;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.footer-container p {
  margin-top: 50px;
}

.join-btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #00B68A;
  color: #00B68A;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 24px 24px;
  text-decoration: none;
  width: 200px;
}

.join-btn a {
  color: #00B68A;
}

.join-btn:hover {
  background-color: #00B68A;
  color: white;
}

.join-btn:active {
  position: relative;
  top: 1px;
}

@media (min-width: 710px) {
  .article-text-01,
  .article-text-02 {
    margin: 0 auto;
    width: 645px;
  }
}

@media (min-width: 960px) {
  .content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 20px;
  }
  .article-01 img {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .article-text-01 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-right: 20px;
    margin-top: 25%;
    margin-bottom: 30%;
    width: auto;
  }
  .article-02-bg {
    grid-column: 1/2 span;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article-02 img {
    width: 50%;
    margin-left: 50%;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .article-text-02 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50%;
    margin-bottom: 30%;
    width: auto;
  }
  .article-03 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3, 1fr;
        grid-template-columns: 3, 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding-top: 50px;
  }
  .article-03 h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .article-03 .profile-01 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .article-03 .profile-02 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .article-03 .profile-03 {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
/*# sourceMappingURL=styles.css.map */