@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");

/* Font Family:
font-family: 'Rubik', sans-serif;
300,400,500,700
 */
// Header

.header-container {
    display: block;
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)),
        url("../images/e-scooter-stairs.jpg");
    height: 450px;
    background-size: cover;
    background-position: 100% -220px;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .header-title {
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 48px;
    }
}

// Body

.about-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

.about-container {
    padding: 0;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.about-container {
    h3 {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        padding-top: 64px;
        padding-bottom: 64px;
        margin: 0;
        color: #00be86;
    }
}

// Articles

.article-01-container {
    height: 100%;

    img {
        width: 100%;
    }
}

.article-text-01 {
    background-color: rgb(6, 6, 8);
    margin-top: -5px;

    p {
        color: white;
        margin: 0;
        font-weight: 300;
        padding-top: 88px;
        padding-bottom: 88px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.article-text-01,
.article-text-02 {
    text-align: left;
    display: block;
    font-size: 18px;
}

.article-02-bg {
    width: 100%;
}

.article-02 {
    margin: 0;
    padding: 0;

    img {
        width: 100%;
    }
}

.article-text-02 {
    background-color: #00b68a;
    width: 100%;
    color: white;
    margin-top: -5px;

    h3 {
        color: white;
        line-height: 40px;
        text-align: left;
        padding-top: 88px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p {
        font-weight: 300;
        padding-bottom: 104px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.article-01-container,
.article-text-02 {
    p {
        line-height: 35px;
    }
}

// --- Team profiles ----

.article-03 {
    padding-top: 12px;
    padding-bottom: 12px;

    .profile {
        text-align: center;
        margin-top: 38px;
        margin-bottom: 15px;
    }

    .profile img {
        width: 50%;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        text-align: center;
        padding: 20px;
        font-weight: 400;
        font-size: 18px;
    }
}

.article-04 {
    margin-top: 0;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.609),
            rgba(0, 0, 0, 0.671)
        ),
        url("../images/e-scooter_street.jpg");
    background-color: rgba(163, 163, 163, 0.931);
    background-position: 0 76%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: rgb(68, 68, 68);
    padding-top: 51.2px;
    padding-bottom: 80px;

    h3 {
        font-weight: 300;
        font-size: 41px;
        color: white;
        padding: 55px;
    }

    h4 {
        font-size: 22px;
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 300;
        color: white;
    }
}

//Underline
.underbar {
    margin-top: -60px;
    padding-bottom: 15px;
}

.underbar::after {
    border-bottom-width: 0.1px;
    border-color: rgba(0, 175, 134, 0.465);
    content: "";
    width: 80px;
    position: absolute;
    border-style: solid;
    z-index: 1;
    margin: 0 auto;
    right: 0;
    left: 0;
}

// ---- Button-----

.join-btn {
    display: block;
    position: relative;
    box-shadow: 0 0 1px transparent;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 4px;
    background-color: #00b66d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 24px;
    text-decoration: none;
    width: 200px;
}

.join-btn a {
    color: white;
}

.join-btn:before {
    content: "";
    position: absolute;
    border: rgba(0, 182, 109, 0.411) solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: top right bottom left;
}

.join-btn:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

@media (min-width: $tabletBreakpoint) {
    .about-container > h3 {
        margin-top: 50px;
    }

    .content-container {
        margin-top: 50px;
    }

    .article-text-01 {
        p {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}

@media (min-width: $desktopBreakpoint) {
    .article-01-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 50px;

        img {
            margin-left: 10px;
            max-width: 570px;
        }

        .article-text-01 {
            background-color: transparent;
            margin-left: 50px;

            p {
                max-width: 565px;
                color: black;
            }
        }
    }

    //section section

    .article-02-bg {
        display: flex;
        flex-direction: row-reverse;
        background-color: transparent;
        justify-content: center;
        width: 100%;
        margin-top: 70px;
    }

    .article-text-02 {
        background-color: #00b68a;
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
        width: 95%;
        position: relative;

        h3 {
            margin-top: 45px;
            margin-left: 8.16px;
        }

        p {
            margin-top: -28.8px;
            position: absolute;
            top: 35%;
            left: 3%;
            transform: translate(0, 50%);
        
        }
    }

    .article-02 {
        margin: 0;
        padding: 0;
        width: 100%;

        img {
            object-fit: fill;
            width: 100%;
            height: auto;
        }
    }

    // Team section
    .profile-container {
        display: flex;
        justify-content: center;
    }

}
