@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

/* Font Family:
font-family: 'Rubik', sans-serif;
300,400,500,700
 */
// Header

.header-container {
    display: block;
    position: relative;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../about-images/e-scooter-stairs.jpg');
    height: 440px;
    background-size: cover;
    background-position: 100% -450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

    .nav-bar {
        background-color: rgba(0, 0, 0, 0);
    }

  
    h1{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 3em;
    }

    .header-image {
        top: 0;
        width: 100%;
        display: block;
        filter: brightness(50%);
    }
}



// Body
.about-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.about-container{
    // margin: 0 5% 0% 5%;
    padding: 0;
}

// Article

.content-container {
    display: flex;
    flex-wrap: wrap;
}



.about-container {
    
    h3 {
        font-size: 1.6em;
        font-weight: 500;
        text-align: center;
        padding: 4em 0;
        margin: 0;
        color: #00BE86;
    }
}



.article-text-01 {
    padding-top: 20px;
}


.article-01,
.article-text-01 {
    margin: 0 5% 0 5%;
}

.article-text-01,
.article-text-02  {
    text-align: left;
    display: block;
    margin-bottom: 5em;
}

.article-02,
.article-text-02 {
    margin: 0 5% 0 5%;
}

.article-02-bg{
    background-color: #00B68A;
    padding-top: 50px;
    width: 100%;
}

.article-text-02 {
    padding: 0;
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    position: relative;
}

.article-info-02 {
    position:absolute;
    margin-top: -7em;
}


// --- Team profiles ---- 

.article-03 {

    .profile {
        text-align: center;
        margin-top: 3em;
        margin-bottom: 6em;
    }

    .profile img {
       width:  50%;
    }

    h4 {
        text-align: center;
        padding: 20px;
        font-weight: 400;
    }
}

.article-04 {
    margin-top: 7em;
    background-image: linear-gradient( rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.671) ), url('/about-images/e-scooter_street.jpg');
    background-color: rgba(163, 163, 163, 0.931);
    background-position: 0 76%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: rgb(68, 68, 68);

    padding-bottom: 45px;

    h3 {
        font-weight: 300;
        color: white;
        padding: 55px;
    }

    h4 {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 300;
        color: white;
    }
}


//Underline
.underbar {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.underbar::after {
    border-bottom-width: 0.1px;
    border-color: rgb(0, 175, 133);
    content: "";
    width: 80%;
    position: absolute;
    border-style: solid ;
    z-index: 1;
    margin: 0 auto;
    right: 0;
    left: 0;
}

// Button

.join-btn {
    display: block;
	margin: 0 auto;
	margin-top: 50px;
    text-align: center;
    border-radius:4px;
    background-color: rgba(0, 182, 109, 0.445);
    color: white;
	cursor: pointer;
	font-size:15px;
	font-weight:300;
	padding:15px 24px;
	text-decoration:none;
    width: 200px;
}

.join-btn a{
    color: white;
}

.join-btn:hover{
	background-color:#00B68A;
	color: white;
}


.join-btn:active {
	position:relative;
	top:1px;
}

@media (min-width: 950px) {

    .article-01-container {
        width: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
  
    .article-02-bg {
        display:flex;
        flex-direction: row-reverse;
        background-color: transparent;
        justify-content: center;
        width: 100%;   
     }

     .article-text-02 {
        background-color: #00B68A;
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
        width: 81%;
        position: relative;

        p {
            padding: 20px;
            position: absolute;
            top: 35%;
            left: 3%;
            transform: translate(0, 50%);
        }
    }

     .article-02 {
        margin: 0;
        padding: 0;
        width: 100%;
       
        
        img {
            object-fit: fill;
            width: 100%;
            height: auto;
        }
    }
 }