.title-page {
    height: 100vh;
    background-image: url('../images/marat-mazitov-WzStSnhZbfs-unsplash.jpg');
    @include parallax-scroll;
    display: block;
    position: relative;
}

.intro {
    text-align: center;
    margin: 10px;
}

.ride-steps-section {
    margin: 30px 0;

    .section-title {
        text-align: center;
        margin-bottom: 30px;
        h2 {
            margin-bottom: 10px;
        }
        hr {
            width: 70px;
            border: 2px solid $brand-color;
        }
    }

    .section-steps {
        display: flex;
        justify-content: space-around;
    }

    .ride-steps {
        article:nth-child(-n + 2){
            margin-bottom: 50px;
        }
        .steps-text {
            h5 {
                margin-bottom: 5px;
            }
        }
    }
    .dots {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 30px;
        padding-bottom: 0;

        .dot {
            height: 5px;
            width: 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: block;
            &:nth-last-child(-n+3){
                opacity: 0;
            }
        }
        .bold {
            height: 7px;
            width: 7px;
            background-color:black;
        }
    }
}

.sign-up{
    @include darken-image(url('../../images/Canva - Black Scooter.jpg'));
    @include parallax-scroll;
    height: 250px;
    position: relative;

    button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 20px;
    }
}

@media (min-width: $desktopBreakpoint){
    .title-page, .sign-up {
        background-attachment: fixed;
    }
}