.page-header {
    padding-top: 100px;
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    h1 {
        margin-bottom: 0;
        font-size: 36px;
        color: $brand-color;
        font-weight: 400;
    }
    hr {
        width: 70px;
        border: 1px solid $brand-color;
    }
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.services-description,
.plan {
    text-align: center;
    line-height: 1.4em;
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
}

.plan-cost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: $brand-color;

    h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 3.5em;
        text-shadow: 3px 3px 2px $off-grey;
        display: flex;
        justify-content: center;
    }

    sup {
        font-size: 0.5em;
        margin-top: -0.5em;
    }
}

.plan-details {
    margin: 10px 0 20px;
    h2,
    p {
        margin: 24px 0;
        padding: 0;
    }
    h2 {
        color: $off-black;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    p {
        line-height: 1.8em;
        color: $off-grey;
        font-size: 1.2em;
    }
}

.sign-up-btn {
    padding: 0;
    border: none;
    background-color: #fff;
    width: 70%;
    a {
        text-decoration: none;
        color: $brand-color;
        font-size: 1.8em;
        font-weight: bold;
        display: block;
        border: 2px solid $brand-color;
        border-radius: 25px;
        padding: 1em 2em;
        background-color: white;
        cursor: pointer;
    }
    a:hover {
        background-color: $brand-color;
        color: #eee;
        transition: 0.08s ease-in;
    }
}
.sign-up-btn:nth-child(even) {
    background-color: #fafafa;
}

.plan:nth-child(even) {
    background-color: #fafafa;
    .sign-up-btn {
        background-color: #fafafa;
    }
}

@media (min-width: $tabletBreakpoint) {
    .plan {
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
        background-color: #fff !important;
        .sign-up-btn {
            width: fit-content;
            background-color: #fafafa !important;
        }
    }
}

@media (min-width: $desktopBreakpoint) {
    .plan {
        width: 30%;
    }
    .page-header,
    .plans,
    .plan {
        background-color: #fff !important;
    }
}
