// main {
//     display: grid;
//     padding: 0 24px;

//     h2, p {
//         margin: 24px 0;
//         padding: 0;
//     }
// }

.plans {
    display: flex;
    flex-wrap: wrap;
}

.services-description,
.plan {
    text-align: center;
    line-height: 1.4em;
}

.plan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

.plan-cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #474747;

    h2, p {
        margin: 0;
        padding: 0;
        color: white;
    }
}

.plan-details {
    h2, p {
        margin: 24px 0;
        padding: 0;
    }
}