.page-header {
    padding-top: 120px;
    background-color: #fff;
    text-align: center;
    h1 {
        margin-bottom: 0;
        font-family: "Bellota", sans-serif;
        font-size: 3.5em;
        color: scale-color($color: $brand-color, $lightness: -70%);
    }
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding-top: 50px;
}

.services-description,
.plan {
    text-align: center;
    line-height: 1.4em;
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
}

.plan-cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: $brand-color;

    h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 3.5em;
        font-family: "Bellota", sans-serif;
    }

    sup {
        font-size: 0.5em;
    }
}

.plan-details {
    margin: 10px 0 40px;
    h2,
    p {
        margin: 24px 0;
        padding: 0;
    }
    h2 {
        color: scale-color($color: $brand-color, $lightness: -70%);
        font-size: 2.5em;
        font-family: "Bellota", sans-serif;
        text-transform: uppercase;
    }
    p {
        line-height: 1.8em;
        color: $off-grey;
        font-family: "Montserrat", "sans-serif";
        font-size: 1.2em;
    }
}

.sign-up-btn {
    border: none;
    background-color: #fff;
    width: 70%;
    a {
        text-decoration: none;
        color: $brand-color;
        font-family: "Bellota", sans-serif;
        font-size: 1.8em;
        font-weight: bold;
        display: block;
        border: 2px solid $brand-color;
        border-radius: 25px;
        padding: 1em 2em;
        background-color: white;
        cursor: pointer;
    }
}
.sign-up-btn:nth-child(even) {
    background-color: #fafafa;
}

.plan:nth-child(even) {
    background-color: #fafafa;
    .sign-up-btn {
        background-color: #fafafa;
    }
}

@media (min-width: 750px) {
    .plan {
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
        background-color: #fff !important;
        .sign-up-btn {
            width: fit-content;
            background-color: #fff !important;
        }
    }
}

@media (min-width: 1400px) {
    .plan {
        width: 30%;
    }
}
