nav {
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color:$brand-color;
    box-shadow: 0 3px 9px -5px rgba(0, 0, 0, 0.363);
    padding:10px 20px;
    position: absolute;
    width:100%;
    z-index: 1;

    h2 {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        color:$off-black;
        display: block;
    }

    ul {
        .show & {
            display: block;
        }

        list-style: none;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        display: none;

        li {
            font-size: 1.5em;
        }
    }
}

.burger-icon {
    cursor: pointer;
    font-size: 1.6em;
}

@media (min-width: 960px) {
    .burger-icon {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    nav h2 {
        flex: 2;
    }
}