// parallax scrolling bg
@mixin parallax-scroll {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// darken image 
@mixin darken-image($img) {
    background:linear-gradient(
                rgba(0, 0, 0, 0.63), 
                rgba(0, 0, 0, 0.33)
                ), $img
}

// button
@mixin mainButton {
    border: none;
    border-radius:4px;
    background-color: #00B68A;
    color:white;
    padding:10px 20px;
    cursor: pointer;
    &:hover {
        background-color: rgb(0, 202, 152);
    }
}